

body {
  /*background-image: url("../images/rwd_background.png");*/
  background-color: rgb(30, 30, 30);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  /*border: 1px solid rgb(224, 224, 224);*/
}

p {
  font-family: Times;
  color: rgb(200, 200, 200);
}

.list {
  /*position: fixed;*/
  width: 30%;
  float: left;
  margin-left: 1%;
  margin-top: 1%;
  /*border: 1px solid black;*/
  text-align: center;
}

.Detail {
  width: 100%;
}
.disappearLine {
  width: 99%;
  height: 1px;
  background-color: rgb(120, 120, 120);
  margin: 0px auto;
  display: none;
}

#titlePic {
  width: 60%;
  -webkit-filter: grayscale(100%);
  /*border: 1px solid black;*/
}

.line {
  height: 1px;
  width: 60%;
  margin: 0px auto;
  background-color: rgb(120, 120, 90);
}

#whiteLine {
  background-color: white;
}

.smallFont {
  line-height: 8%;
  color: darkred;
  font-size: 10%;
  margin-top: 7%;
}

.bigFont {
  line-height: 10%;
  color: darkred;
  font-size:100%;
  font-weight: bold;
  margin-bottom: 7%;
}

.title {
  font-size: 220%;
  /*margin-top: 17%;*/
  line-height: 100%;
  margin-bottom: 0%;
}

.content {
  width: 62%;
  padding-top: 8%;
  /*border: 1px solid red;*/
  margin-left: 35%;
  text-align: center;
}

#shortLine {
  width: 33%;
  display: inline-block;
  margin-bottom: 2.4%;
}

#shortWhiteLine {
  width: 100%;
  margin-top: 1px;
  background-color: white;
}

.victors {
  margin-top: -2%;
}

.victorPanel {
  margin-top: 3%;

}

.victorItems {
  display: inline-block;
  width: 30%;
  margin-left: 2%;
  margin-top: 2%;
}

#firstVictorItem {
  margin-left: 0px;
}

.victorItems .smallFont {
  margin-top:2%;
}

.victorItems .bigFont {
  margin-bottom:2%;
}

.victorPic {
  width: 100%;

  border-radius: 3%;
  text-align: center;
  margin-bottom: 3%;
}

#footerLine {
  margin-bottom: 2%;
  display: inline-block;
  width: 45%;
}
#footerWhiteLine {
  width: 100%;
  background-color: white;
  margin-top: 1px;
}

#aLittleBigFont {
  font-size: 100%;
}

.footer p {
  line-height: 20%;
}


@media screen and (max-width:960px) {


  .list {
    width: 99%;
    /*border: 1px solid red;*/
    /*text-align: left;*/
  }

  #titlePic {
    width: 20%;
    float: left;
    margin-left: 5%;
    margin-top: 5%;
    /*display: none;*/
  }

  .disappearLine {
    display: block;
    width: 90%;
  }

  #disappearLine {
    margin-top: 1%;
  }
  .list .line {
    display: none;
    width: 20%;
    /*background-color: transparent;*/
    /*margin-left: 60%;*/
  }

  .Detail {
    margin-left: 64%;
    margin-top: 10%;
    width: 50%;
    padding-top: 3%;
  }

  .list p {
      margin-top: 1%;
      margin-bottom: 1%;
      line-height: 100%;
  }

  .content {
    clear: left;
    margin-left: 0px;
    width: 100%;
    padding-top: 10px;
  }



  #firstLine {
    margin-top: 10%;
  }



  @media screen and (max-width:640px) {
    .victorItems {
      width: 42%;
    }

    .footer p {
      font-size: 70%;
    }
  }



}
